CINQUAIN_STACK_NAME=cinquain
CINQUAIN_BUILD_LOCALLY=1
CINQUAIN_HOMESERVER_IMAGE=cinquain-homeserver:local
CINQUAIN_SERVER_NAME=matrix.example.com
CINQUAIN_BOOTSTRAP_SECRET=
CINQUAIN_ACME_EMAIL=admin@example.com
CINQUAIN_SUPPORT_EMAIL=admin@example.com
